       <!DOCTYPE html>
       <html>
         <head>
           <title>Hair salon</title>
           <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/beauty-salon/231/beauty-services-002-512.png">
           <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
           <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
           <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
           <link rel='stylesheet' href="/App.css">
           <script src="/App.js"> </script>
         </head>
         <body>
             #parse( $template )

         </body>
       </html>