<h2>Add a stylist:</h2>
<form action='/stylists' method='post'>
   <input name="name" id="name" placeholder="Name">
   <input name="email" id="email" placeholder="email">
   <input name="gender" id="gender" placeholder="gender ">

 <button type="submit" class="btn">Add</button>
</form>

<a href="/">Return Home</a>