<div id= "stylist">
  <h1>List of Stylist</h1>
  <ul>
  #foreach ( $stylist in $stylists  )
      <li class="text-success"> $stylist.getName() $stylist.getContact() $stylist.getEmail()  $stylist.getGender() </li>
    #end
   </ul>
  <a href="/stylists/new">Add New Stylist</a>

</div>